<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprendimiento</title>
    <link rel="stylesheet" href="../css/emprendimientos.css">
    <script defer src="productos.js"></script>
</head>
<body>
    <a href="javascript:history.back()" class="back-arrow">&larr;</a>
    <div class="container">
        <!-- Flecha de regreso -->
        

        <!-- Banner -->
        <div class="banner">
            <img src="../../../images/banner.png" alt="Moonlight Caffe & Lounge">
        </div>

        <!-- Comentarios -->
        <h2 class="comments-title">Comentarios</h2>

        <!-- Productos -->
        <div id="products-container" class="products-container">
            <!-- Los productos se añadirán dinámicamente -->
        </div>
    </div>
    <script src="../javaScript/productos.js"></script>
</body>
</html>

