#emprendimiento-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .emprendimiento-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .productos-lista, .comentarios-lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .producto, .comentario {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #221616;
  }
  
  .producto-img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .comentario-fecha {
    font-size: 0.8em;
    color: #1d1313;
  }
  