<!-- comments.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios</title>
    <link rel="stylesheet" href="../css/admincomments.css"> 
</head>
<body>
    <div class="sidebar neon-border">
        <div class="profile">
          <input type="file" id="upload-profile" class="upload-input" accept="image/*" style="display: none;">
          <label for="upload-profile" class="upload-label-profile">Upload Image</label>
          <img id="profile-image" class="profile-image" src="" alt="Profile Image" style="display: none;">
          <p id="username-sidebar" class="username">Nombre</p>
        </div>
      
        <nav>
          <a href="adminmenu.html">Home</a>
          <a href="adminajustes.html" >Ajustes</a>
          <a href="admincomments.html" class="active">Comentarios</a>
        </nav>
    </div>
    <script src="../javaScript/homeprofile.js"></script>
</body>
</html>