.sidebar {
    width: 200px;
    height: 80vh;
    background-color: #f8f8f8;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    border-radius: 15px;
    overflow: hidden;
    padding-top: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    color: black;
    padding-bottom: 80px;
    justify-content: center; /* Centra el texto y el ícono horizontalmente */
}

.avatar {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
}

.menu li {
    margin: 20px 0; /* Espaciado entre los elementos */
    width: 100%;
}

.menu li a {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el ícono y el texto dentro del enlace */
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s, color 0.3s; /* Suaviza el efecto hover */
}

.menu li a:hover {
    background-color: #662b93; /* Color de fondo para el hover */
    color: #e9e7ed; /* Cambia el color del texto e ícono */
    border-radius: 10px;
}

.menu li a img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
